extends layout

mixin post(post)
	.post
		tr(class="tablerow",data-json=post,data-toggle="modal" data-target="#newItem")
			td(class="postfull",style="display:none")
			td #{post.product}
			td #{post.price}
			td #{post._.publishedDate.format('YYYY-MM-DD')}
			td: button(type="button",class="close deletepost",data-toggle="modal",data-target="#deleteModal",data-id=post._id,data-type="Product")
							span(class="glyphicon glyphicon-trash",aria-hidden="true",style="color:#000")
							span.sr-only Close
							//data-type需改成相应类型
block content
	div(class="container-fluid")
		.row
			.col-lg-12
				h1.page-header
					| 商品管理 
				ol.breadcrumb
					li
						i.fa.fa-dashboard
						a(href='home') 概览
					li.active
						i.fa.fa-edit
						|  商家功能
					li.active
						i.fa.fa-edit
						|  商品管理
		div(class="row")
			div(class="col-lg-12")
				.panel.panel-default
					.panel-heading
						h3.panel-title
							| 商品管理
					.panel-body
						a(href="#newItem",role="button",class="btn btn-primary btn-md",data-toggle="modal",data-target="#newItem" style="margin-bottom:20px" ) 新建商品
						.tabel-responsive
							table.table.table-bordered.table-hover.table-striped
								thead
									tr
										th(style="width:30%") 商品名称
										th(style="width:50%") 价格
										th(style="width:20%") 日期
										th  
								tbody
									each post in data.posts.results
										+post(post)
						//分页代码
						.text-right
							include pagination.jade

		div(id="newItem",class="modal fade",tabindex="-1",role="dialog",aria-labelledby="Product",aria-hidden="true",data-backdrop="static")
			div(class="modal-dialog modal-lg")
				div.modal-content

					div(class="modal-header")
						button(type="button",class="close closepost",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title(style="font-family:微软雅黑; font-weight:600;") 新建商品
						div#responseText(class="alert")
					
					div(class="modal-body")
						span(class="enableEdit btn btn-primary",aria-hidden="true" style="font-family:微软雅黑")   编辑
						form#newpost(action="/management/savepost",method="post",class="form" style="font-family:微软雅黑;")
							doctype html
							fieldset(class="fieldset",disabled)
								.form-group
									input#posttype(type="text",name="posttype",value="Product",style="display:none")
									input#newormodify(type="text",name="newormodify",value="new",style="display:none")
									input#id(type="text",name="_id",value="new",style="display:none")
								.form-group
									label(for="product" style="font-family:微软雅黑;") 商品名称
									input(type="text",name="product",id="product",class="form-control",placeholder="请输入商品名称")
								.form-group
									label(for="price") 商品价格
									input(type="text",name="price",placeholder="请输入商品价格",id="price",class="form-control")
								.form-group
									label(for="publishedDate" style="font-family:微软雅黑;") 日期
									div(class="input-append date form_datetime",id="datetimepicker")
										input(size="16",type="text",value="" readonly,name="publishedDate",id="publishedDate",class="form-control",data-date-format="yyyy/mm/dd/")
										span(class="add-on")
											i(class="icon-th")
								.form-group
									label(for="image") 图片
									br
									img(id="image",name="image",style="height:300px;width:400px;")
									//给图片加框代码,class="form-control"
									br
									label(for="images") 更换图片：
									input(type="file",id="images",accept="image/*",name="images",onchange="previewImage(this)")
								.form-group
									label(for="evalue",style="font-family:微软雅黑;") 商品评价
									textarea(rows="4",name="evalue",id="evalue",class="form-control")
								.form-group
									label(for="detail",style="font-family:微软雅黑;") 商品介绍
									textarea(rows="5",name="detail",id="detail",class="form-control")
								
					div(class="modal-footer form-actions")
									button#savebutton(class="btn btn-primary") 保存
									button(class="btn btn-default closepost",data-dismiss="modal",aria-hidden="true") 关闭
	include deletemodal.jade




