fieldset.main-body(class="ui-grid-b", data-ajax="false")
	div(class="mobile-main-div" )
		a(href="#",onclick="location='business?_id=#{data.posts._id}'" )
			img(class="mobile-main-div-img",src="/images/business/mendian.png",width="80px;",height="100px;",title="门店管理" )
	div(class="mobile-main-div")
		a(id="order",href="#",onclick="location='order?_id=#{data.posts._id}'")
			img(class="mobile-main-div-img",src="/images/business/dingdan.png",width="80px;",height="100px;",title="订单管理")
			span#weichuli(class="badge") #{locals.data.remindOrder}
	div(class="mobile-main-div")
		a(href="#",onclick="tishi()")
			img(class="mobile-main-div-img",src="/images/business/youhui.png",width="80px;",height="100px;",title="优惠促销")
	div(class="mobile-main-div")
		a(href="#",onclick="location='common?_id=#{data.posts._id}&attr=category'")
			img(class="mobile-main-div-img",src="/images/business/leibie.png",width="80px;",height="100px;",title="类别管理")
	div(class="mobile-main-div")
		a(href="#",onclick="location='common?_id=#{data.posts._id}&attr=product'")
			img(class="mobile-main-div-img",src="/images/business/shangpin.png",width="80px;",height="100px;",title="商品管理")
	div(class="mobile-main-div")
		a(href="#",onclick="location='information?_id=#{data.posts._id}'")
			img(class="mobile-main-div-img",src="/images/business/zhanghao.png",width="80px;",height="100px;",title="我的账号")
	div(class="mobile-main-div")
		a(href="#",onclick="location='lianxi'",data-json=data.post)
			img(class="mobile-main-div-img",src="/images/business/lianxi.png",width="80px;",height="100px;",title="联系我们")
//-
	business?_id=#{data.posts._id}