doctype html
html
	head
		title 广告管理功能版
		style.
			.new-contentarea {
				overflow:hidden;
				margin: 0 auto;
				position:relative;
			}
			.new-contentarea label {

				display:block;
			}
			.new-contentarea input[type=file] {
				width:1px;
				height:1px;
				background:#333;
				margin: 0 auto;
				position:absolute;
				right:50%;
				margin-right:-94px;
				top:0;
				right/*\**/:0px\9;
				margin-right/*\**/:0px\9;
				width/*\**/:10px\9;
				opacity:0;
				filter:alpha(opacity=0);
				z-index:2;
			}
			a.upload-img{
				width:81px;
				display: inline-block;
				margin-bottom: 10px;
				height:30px;
				line-height: 30px;
				font-size: 15px;
				color: #FFFFFF;
				background-color: #f38e81;
				border-radius: 3px;
				text-decoration:none;
				cursor:pointer;
			}
			a.upload-img:hover{
				background-color: #ec7e70;
			}
			.tc{
				text-align:center;
				}
		script(type='text/javascript').
			function previewImage(file){
					var img = document.getElementById('images').value;
					if (img=="") {
						document.getElementById('imghead').style.display="none";
						}else{
						document.getElementById('imghead').style.display="block";
					}
					var MAXWIDTH = 260; 
					var MAXHEIGHT = 180;
					var div = document.getElementById('preview');
					if (file.files && file.files[0]){

							var img = document.getElementById('imghead');
							img.onload = function(){
								var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
								img.width =	rect.width;
								img.height = rect.height;
								img.style.marginLeft = rect.left+'px';
								img.style.marginTop = rect.top+'px';
							}
							var reader = new FileReader();
							reader.onload = function(evt){img.src = evt.target.result;}
							reader.readAsDataURL(file.files[0]);
					}else{
						var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
						file.select();
						var src = document.selection.createRange().text;
						div.innerHTML = 'img(id=imghead)';
						var img = document.getElementById('imghead');
						img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
						var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
						status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
						div.innerHTML = "div(id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+")";
					}
				}
				function clacImgZoomParam( maxWidth, maxHeight, width, height ){
						var param = {top:0, left:0, width:width, height:height};
						if( width>maxWidth || height>maxHeight )
						{
							rateWidth = width / maxWidth;
							rateHeight = height / maxHeight;
							if( rateWidth > rateHeight )
							{
									param.width =	maxWidth;
									param.height = Math.round(height / rateWidth);
							}else{
									param.width = Math.round(width / rateHeight);
									param.height = maxHeight;
							}
						}
						
						param.left = Math.round((maxWidth - param.width) / 2);
						param.top = Math.round((maxHeight - param.height) / 2);
						return param;
				}

	body

	div(style="margin: 0 auto; width:500px;")
		form(action="/advert/addPicture",method="post",id="form1",enctype="multipart/form-data")
			label 标题&nbsp&nbsp&nbsp&nbsp&nbsp:
			input(type="text" name="title" id="title")
			hr
			label#preview 选择图片&nbsp:
			img#imghead(src="" style="display:none;width:170px;height:200px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);")
			input(type="file",accept="image/*" name="image" id="images" onchange="previewImage(this)")
			hr
			label 选择物业&nbsp:
			select(name="property",id="property")
				each post in data.posts
					option #{post.username}
			hr
			label 广告位置&nbsp:
			select(name="state",id="state")
					option set1
					option set2
					option set3
					option set4
					option set5
			hr
			label 发布日期(格式:yy/mm/dd):
			input(type="text" name="publishedDate" id="publishedDate")
			hr 
			.new-contentarea.tc
					a.upload-img(href='javascript:void(0)')
						label(for='images') 上传图片
						input#images(type='file', name='images' accept="image/*" onchange="previewImage(this)")
			input(type="submit" value="上传")

