extends content-layout

block content
	div(data-role="page")#main
		div(data-role="header")
				h1.
					选择小区 
		form(action="household_add",method="post",id="doChangeProperty",data-ajax="false")
			select(id="property" name="property")
				option 请选择小区
				option 山水黔城
				option 万科
				option 花果园
				option 其他
			input(name="openid",id="openid",type="hidden" value="#{data.openid}" )
			input(name="nickName",id="nickName",type="hidden" value="#{data.nickName}" )
			input(name="sex",id="sex",type="hidden" value="#{data.sex}" )
			input(name="city",id="city",type="hidden" value="#{data.city}" )
			input(name="procince",id="procince",type="hidden" value="#{data.procince}" )
			input(name="country",id="country",type="hidden" value="#{data.country}" )
			input(name="headImgurl",id="headImgurl",type="hidden" value="#{data.headImgurl}" )
			input(name="privilege",id="privilege",type="hidden" value="#{data.privilege}" )
			button(type="button",id="",class="ui-shadow ui-btn ui-corner-all ui-mini" onclick="checkProperty()") 确定
