extends content-layout

block content
	div(data-role="page")#main
		div(data-role="header")
				div(data-role="header")
					a(href="home",class="ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all",data-ajax="false")
					a(href="#",id="lost",style="height:10px;line-height:10px;margin-top:3px;background: #f9f9f9;border:1px solid #FFCC99;border-style:outset;",onclick="location='https://open.weixin.qq.com/connect/oauth2/authorize?appid=#{data.weixin[0].replace}&redirect_uri=http%3A%2F%2F#{data.link[0].replace}%2fmobile%2f#{data.property}%2fadd_Lostandfound&response_type=code&scope=snsapi_base&state=feedback#wechat_redirect'") 发布
				h1.
					失物招领			
			div(role="main",class="ui-content")
				ul(data-role="listview")
					each post in data.posts
						li 
							a(href="#postcontent",onclick="loadData(this)",data-json=post,data-date=post._.publishedDate.format('YYYY-MM-DD'),data-image=post.image.filename,class="height:100px;width:")
								//display:none;block
								div(style="height:90px;width:12px;background-color:#35afe0;position: absolute;left:0px;top:0px;display:none;")
								img(src="/advert/#{post.image.filename}",style="height:60px;width:60px; position: absolute;left: 25px;top:10px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;")
								div(style="position: absolute;left: 110px; top:8px;font-size:23px;")
									p #{post.title}
								div(style="position: absolute;left: 110px; top:40px;color: #999999;font-size:18px;")
									p(style="color: Grey") #{post._.publishedDate.format('YYYY-MM-DD')}
								
								
		div(data-role="subpage")#postcontent
			div(data-role="header")
				include services-header.jade
				h1#header
			div(role="main",class="ui-content")
				h2#title
				h4#publishDate
				img(id="showImage",style="height:200px;width:100%;")
				hr
				p#content
				table
					tr
						td(style="width:45%;") 联系人 :
						td
							p#author
					tr
						td(style="width:45%;") 联系方式 :
						td 
							a(#contact,style="text-decoration: none")#contact
